/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  --global-bg-color: #{$gruvbox-bg-light};
  --global-code-bg-color: #{$gruvbox-bg-light-soft};
  --global-text-color: #{$gruvbox-fg-light};
  --global-text-color-light: #{$gruvbox-grey-light};
  --global-theme-color: #{$gruvbox-blue};
  --global-hover-color: #{$gruvbox-blue};
  --global-link-color: #{$gruvbox-green};
  --global-hover-text-color: #{$gruvbox-bg-light};
  --global-footer-bg-color: #{$gruvbox-fg-light};
  --global-footer-text-color: #{$gruvbox-bg-light-soft};
  --global-footer-link-color: #{$gruvbox-bg-light};
  --global-distill-app-color: #{$gruvbox-grey-light};
  --global-divider-color: #{$gruvbox-border-light};
  --global-card-bg-color: #{$gruvbox-bg-light-soft};
  --global-highlight-color: #{$gruvbox-blue};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($gruvbox-fg-light, "red", $space: rgb)},
    #{color.channel($gruvbox-fg-light, "green", $space: rgb)},
    #{color.channel($gruvbox-fg-light, "blue", $space: rgb)},
    0.6
  );
  --global-back-to-top-text-color: #{$gruvbox-bg-light};
  --global-newsletter-bg-color: #{$gruvbox-bg-light-soft};
  --global-newsletter-text-color: #{$gruvbox-fg-light};

  --global-tip-block: #{$gruvbox-green-bright};
  --global-tip-block-bg: #{$gruvbox-bg-light-soft};
  --global-tip-block-text: #{$gruvbox-green};
  --global-tip-block-title: #{$gruvbox-green};
  --global-warning-block: #{$gruvbox-yellow-bright};
  --global-warning-block-bg: #{$gruvbox-bg-light-soft};
  --global-warning-block-text: #{$gruvbox-yellow};
  --global-warning-block-title: #{$gruvbox-yellow};
  --global-danger-block: #{$gruvbox-red-bright};
  --global-danger-block-bg: #{$gruvbox-bg-light-soft};
  --global-danger-block-text: #{$gruvbox-red};
  --global-danger-block-title: #{$gruvbox-red};

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #{$gruvbox-bg-dark};
  --global-code-bg-color: #{$gruvbox-bg-dark-soft};
  --global-text-color: #{$gruvbox-fg-dark};
  --global-text-color-light: #{$gruvbox-grey-dark};
  --global-theme-color: #{$gruvbox-blue-bright};
  --global-hover-color: #{$gruvbox-blue-bright};
  --global-link-color: #{$gruvbox-green-bright};
  --global-hover-text-color: #{$gruvbox-bg-dark};
  --global-footer-bg-color: #{$gruvbox-fg-dark};
  --global-footer-text-color: #{$gruvbox-bg-dark-soft};
  --global-footer-link-color: #{$gruvbox-bg-dark};
  --global-distill-app-color: #{$gruvbox-grey-dark};
  --global-divider-color: #{$gruvbox-border-dark};
  --global-card-bg-color: #{$gruvbox-bg-dark-soft};
  --global-highlight-color: #{$gruvbox-blue-bright};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($gruvbox-fg-dark, "red", $space: rgb)},
    #{color.channel($gruvbox-fg-dark, "green", $space: rgb)},
    #{color.channel($gruvbox-fg-dark, "blue", $space: rgb)},
    0.5
  );
  --global-back-to-top-text-color: #{$gruvbox-bg-dark};
  --global-newsletter-bg-color: #{$gruvbox-bg-dark-soft};
  --global-newsletter-text-color: #{$gruvbox-fg-dark};

  --global-tip-block: #{$gruvbox-green-bright};
  --global-tip-block-bg: #{$gruvbox-bg-dark-soft};
  --global-tip-block-text: #{$gruvbox-fg-dark};
  --global-tip-block-title: #{$gruvbox-green-bright};
  --global-warning-block: #{$gruvbox-yellow-bright};
  --global-warning-block-bg: #{$gruvbox-bg-dark-soft};
  --global-warning-block-text: #{$gruvbox-fg-dark};
  --global-warning-block-title: #{$gruvbox-yellow-bright};
  --global-danger-block: #{$gruvbox-red-bright};
  --global-danger-block-bg: #{$gruvbox-bg-dark-soft};
  --global-danger-block-text: #{$gruvbox-fg-dark};
  --global-danger-block-title: #{$gruvbox-red-bright};

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
